<div class="sidenav">

    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a [routerLink]="['/client']" routerLinkActive="active">Clients</a>
    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    
    <a [routerLink]="['/basicinfo']" routerLinkActive="active">Basic Info</a>
    <a [routerLink]="['/basictable']" routerLinkActive="active">Table with component</a>
    <a [routerLink]="['/service-component']" routerLinkActive="active">Service with Angular</a>
    <a [routerLink]="['/servicewithapi']" routerLinkActive="active">Service with API</a>
    <a [routerLink]="['/pagination']" routerLinkActive="active">Pagination</a>

    

</div>